<div class="col s12 m12" ng-controller="documentosController" >
     <md-toolbar class="md-theme-light" >
    <h2 class="md-toolbar-tools">
      <span>Documentos</span>
      <md-button style="color: white;" class="md-icon-button" ng-click="createDocument($event)">
     
          <md-icon>add</md-icon>
    </md-button>
      
    </h2>
             
  </md-toolbar>
        
   
      <label style="border-bottom: black;">
          <input autofocus placeholder="Búsqueda" style="width: 100%;     border-bottom: 1px solid #fffdfd;"  ng-model="searchDocumentos">
      </label>
    
      <md-input-container>
        <label>Areas</label>
        
        <md-select ng-model="selectedAreas" multiple>
          <md-optgroup label="Areas">
            <md-option ng-value="area.id" ng-repeat="area in areas ">{{area.name}}</md-option>
          </md-optgroup>
        </md-select>
        
      </md-input-container>

    <md-input-container>
        <label>Usuarios</label>
        
        <md-select ng-model="selectedUsuarios" multiple>
          <md-optgroup label="Usuarios">
            <md-option ng-value="usuario.id" ng-repeat="usuario in usuarios ">{{usuario.name}}</md-option>
          </md-optgroup>
        </md-select>
        
      </md-input-container>
   <tags-input ng-model="tags" 
                display-property="name" 
                placeholder="Palabras clave" 
                replace-spaces-with-dashes="false"
                template="tag-template">
      <auto-complete source="loadCountries($query)"
                     min-length="0"
                     load-on-focus="true"
                     load-on-empty="true"
                     max-results-to-show="32"
                     template="autocomplete-template"></auto-complete>
    </tags-input>
    <table>
      <tr>
        <tr>
            <td colspan="2">Fecha de registro</td>
            <td colspan="2">Fecha de documento</td>
            </tr>
<!--        <td>Fecha inicial subido</td>-->
        <td><input type="date" name="S_Date" ng-model="startDate" ng-min="startDate" min="startDate"/></td>
<!--        <td>Fecha final subido</td>-->
        <td><input type="date" name="E_Date" ng-model="endDate" ng-max="endDate"  max="endDate"/></td>
<!--         <td>Fecha inicial</td>-->
        <td><input type="date" name="S_Date" ng-model="startFileDate" ng-min="startFileDate" min="startFileDate"/></td>
<!--        <td>Fecha final</td>-->
        <td><input type="date" name="E_Date" ng-model="endFileDate" ng-max="endFileDate"  max="endFileDate"/></td>
       
        </tr>
        
      </table>
    
    <md-button class="md-primary md-raised" ng-click="search($event)">
        Buscar
    </md-button>
  
<!--{{tables}} -->
<md-table-container>
  <table data-md-table data-md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" data-ng-model="selected" md-progress="promise">

    <thead ng-if="!options.decapitate" md-head data-md-order="query.order" md-on-reorder="onReorder">
      <tr md-row>
        <th md-column md:order:by="name"><span>Nombre</span></th>
        <th md-column md:order:by="description"><span>Descripción</span></th>
        
        <th md-column md:order:by="createdOn"><span>Subido</span></th>
        <th md-column md:order:by="area.name"><span>Area</span></th>
        <th md-column md:order:by="user.name"><span>Creado por</span></th>
        <th md-column ><span>Editar</span></th>
        <th md-column ><span>Descarga</span></th>
        
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="table" md-select-id="name" data-md-on-select="log" md-on-deselect="deselect" x-md-auto-select="options.autoSelect"  data-ng-repeat="document in  filteredDocuments()  | filter:searchDocumentos | orderBy: query.order | limitTo: query.limit : (query.page - 1) * query.limit">
     <td md-cell>{{ document.name| limitTo: 20 }}{{document.name.length > 20 ? '...' : ''}}</td>
     <td md-cell>{{document.description}}</td>
     
     <td md-cell>{{document.createdOn | date:'yyyy-MM-dd HH:mm:ss Z' }}</td>
     <td md-cell>{{document.area.name}}</td>
     <td md-cell>{{document.user.name}}</td>
     <td md-cell>    
           <md-button ng-click="updateDocument($event,document)" class="md-fab md-primary" aria-label="Editar">
       <i class="material-icons">border_color</i>
        </md-button>
         </td>
     <td md-cell>
          <md-button ng-href="/FIMDocumentos/FIMRest/hello/downloadDocument/{{document.filename}}" class="md-fab md-primary" aria-label="Ver columnas">
       <i class="material-icons">file_download</i>
        </md-button>
     </td>

      </tr>
    </tbody>
  </table>
</md-table-container>

<data-md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{documents.length}}" md-on-paginate="onPaginate" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks">
    
</data-md-table-pagination>

</div>